<!--index-->
<h1>Books</h1>

<div class="index_table">

  <div class="title_table">
    <p class="title">title</p>
    <p class="body">body</p>
  </div>

  <div class="body_table">
    <% @books.each do |book| %>

      <span><%= book.title %></span>
      <span><%= book.body %></span>

      <!--showへ-->
      <%= link_to "show",show_book_path(book.id) %>
      <!--editへ-->
      <%= link_to "Edit", edit_book_path(book.id) %>
      <!--destroyへ-->
      <%= link_to "destroy", destroy_book_path(book.id),method: :delete,"data-confirm" => "Are you sure?" %>
      <br>

    <% end %>
  </div>

</div>


<!--new-->
<h2>New book</h2>

<!--エラー-->
<!--<% if @book.errors.any? %>-->
<!--  <%= @book.errors.count %>件のエラーが発生しました-->
<!--  <ul>-->
<!--    <% @book.errors.full_mmessages.each do |message| %>-->
<!--      <li><%= message %></li>-->
<!--    <% end %>-->
<!--  </ul>-->
<!--<% end %>-->

<%= form_with model: @book,url: '/books',method: :post do |f| %>

  <div class="field">
    <label for="book_title">title</label>

    <%= f.text_field :title %>
  </div>

  <div class="field">
    <label for="book_body">body</label>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Book'%>
  </div>
<% end %>
