<P class="flash">
  <%= flash[:hoge] %>
</p>

<P class="show">
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<P class="show">
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<!--editへ-->
<%= link_to "Edit", edit_book_path(@book.id) %>

<th> | </th>
<!--indexへ-->
<%= link_to "Back", "/books" %>